.about-us {
  padding: 94px 0px;

  &-list {
    display: flex;

    &-item {
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &-discription {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-bottom: 10px;
  }
  &-details {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: $discription-text-color;
  }
  &-item-svg {
    padding: 25px 100px;
    margin-bottom: 30px;
    background: #f5f4fa;
  }
}
