.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;

    &-item:not(:first-child) {
      margin-left: 30px;
    }
  }
  &-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    color: $icons-links-color;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accent-color;
    }

    &:hover .clients-logo-svg,
    &:focus .clients-logo-svg {
      fill: $accent-color;
    }
  }

  .our-& {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: $primary-text-color;
  }
  &-logo-svg {
    fill: $icons-links-color;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
