.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    color: $icons-links-color;
    transition-property: all;
    transition-duration: 250ms;

    &:hover,
    &:focus {
      border-color: $accent-color;
    }

    &:hover .clients-logo-svg,
    &:focus .clients-logo-svg {
      fill: $accent-color;
    }
  }
}

.clients-list-item {
  width: calc((100% - 2 * 30px) / 2);
}
.clients-list-item {
  margin: 15px;
  @media screen and (min-width: 480px) {
    // margin: 15px;
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.our-clients {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  color: $primary-text-color;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.clients-logo-svg {
  fill: $icons-links-color;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
