.header .container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-self: center;
  }
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }

  &-right-side {
    color: black;
  }

  &-right-side-footer {
    color: #ffffff;
  }
}
.logo-menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-close-btn {
  display: none;

  .menu-btn.is-open & {
    display: block;
  }
}

.icon-menu-btn {
  display: block;
  .menu-btn.is-open & {
    display: none;
  }
}

.menu-btn-svg:hover,
.menu-btn-svg:focus {
  fill: $accent-color;
}

.current {
  position: relative;
  color: $accent-color;

  padding-bottom: 12px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  &::after {
    position: absolute;
    left: 50%;
    bottom: 0px;
    display: inline-block;
    width: 61px;
    height: 4px;
    content: '';
    background-color: $accent-color;
    border-radius: 2px;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
      width: 100%;
      bottom: -1px;

      @media screen and (min-width: 1200px) {
        width: 100%;
        height: 4px;
      }
    }
  }
}

.email-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $discription-text-color;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.166;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.333;
    margin-right: 22px;
  }

  &-svg {
    width: 16px;
    height: 11px;
    fill: $discription-text-color;
    margin-right: 10px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
      margin-right: 8px;
    }
  }
}

.email-link:hover .email-link-svg {
  fill: $accent-color;
}

.tel-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $discription-text-color;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.166;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.333;
  }

  &-svg {
    width: 10px;
    height: 14px;
    fill: $discription-text-color;
    margin-right: 10px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
  }
}
.tel-link:hover .tel-link-svg {
  fill: $accent-color;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  & .address {
    @media screen and (min-width: 1200px) {
      display: inline-flex;
      margin-left: auto;
    }
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    text-align: center;
    top: 101%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 3;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-right: 93px;
  }

  &-list-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      padding-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 70px;
    }
  }
  &-list {
    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.166;
      text-align: center;
      letter-spacing: 0.02em;
      color: $primary-text-color;

      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.142;
      }
      @media screen and (min-width: 1200px) {
        display: inline-block;
        padding: 32px 0px;
      }
    }
  }
}
.address-list {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  &-item:not(:last-child) {
    @media screen and (min-width: 480px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
    }
  }
}
