.hero {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 118px 0px;
  text-align: center;
  background-color: $primary-text-color;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 480px) {
    max-width: 480px;
    height: 400px;
    background-size: 480px 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-m.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-m@2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-size: 768px 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-t.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-t@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-size: 1600px 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-d@2x.jpg);
    }
  }

  &-title {
    font-weight: 900;
    font-size: 42px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding-top: 200px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.363;
    }
  }
}

// .hero-title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.363;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: #ffffff;
//   margin-right: auto;
//   margin-left: auto;
//   margin-bottom: 30px;
//   padding-top: 200px;
// }

.modal-btn {
  display: inline-block;
  font-size: 16px;
  line-height: 1.875;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 136px;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
