.services {
  padding-bottom: 94px;
  &-list {
    display: flex;
    justify-content: space-between;
  }
}

.about-us-actions,
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: $primary-text-color;
}

.thumb {
  position: relative;
}

.thumb > .label {
  position: absolute;
  width: 370px;
  height: 70px;

  top: 224px;
}
.label {
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
