.navigation-list-link:hover,
.navigation-list-link:focus {
  @media screen and (min-width: 480px) {
    color: $accent-color;
  }
}

.email-link:hover,
.email-link:focus {
  @media screen and (min-width: 480px) {
    color: $accent-color;
  }
}

.tel-link:hover,
.tel-link:focus {
  @media screen and (min-width: 480px) {
    color: $accent-color;
  }
}
.footer-email-link:hover,
.footer-email-link:focus {
  @media screen and (min-width: 480px) {
    color: $accent-color;
  }
}

.footer-tel-link:hover,
.footer-tel-link:focus {
  @media screen and (min-width: 480px) {
    color: $accent-color;
  }
}
